<!DOCTYPE html>
<html>
<head>
  <title>ActiveAdminTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "rails.validations" %>
  <%= auto_discovery_link_tag :atom, "/feed" %>
  <%= auto_discovery_link_tag :rss, "/feed.rss" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
